html {
  box-sizing: border-box;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
}

main {

}
h1 {
  font-family:"Merriweather", serif;
  font-size: 2rem;
  background-color: #d05c2e;
  color: #fff;
  text-align: center;
  margin:0;
}

li {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #d05c2e;
}

header {
  background-color: #d05c2e;
}
.div {
  background-color: #d05c2e;
  display: inline-block;
}
